.chat {
    width: 100%;
    color: white;
    margin: 10%;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2536B8;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
